/***** HONEYCAKES THEME CUSTOM STYLING *****
*
*	01 - HOUSEKEEPING
*	02 - BAKERY COLOUR PALETTE
*	03 - BLOCK STYLING (MOVED TO BLOCKS.CSS)
*	04 - WIDGET STYLING
*	05 - MEDIA QUERIES
*	06 - WOOCOMMERCE CUSTOM STYLING
*

/******************************************/

/* 01 - HOUSEKEEPING */

body {
	background: #f2f2f2;
}


h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.55em;
}

h4 {
	font-size: 1.35em;
}

h5 {
	font-size: 1.15em;
}

h6 {
	font-size: 1em;
}

/* 02 - BAKERY COLORS */

.b-purple {
	background: #594059;
}

.f-purple {
	color: #594059;
}

.b-orange {
	background: #F29544;
}

.f-orange {
	color: #F29544;
}

.b-brown {
	background: #A66953;
}

.f-brown {
	color: #A66953;
}

.b-white {
	background: #f2f2f2;
}

.f-white {
	color: #f2f2f2;
}

.b-black {
	background: #0d0d0d;
}

.f-black {
	color: #0d0d0d;
}

/*********************/

.main-navigation a {
	color: #fff;
	padding: 10px;
}

.main-navigation a:hover {
	color: #F29544;
}

/* 
footer {
	margin-top: 60vh;
} */



.site-main {
	margin-bottom: 50vh;
}



.footer-widget-title,
.footer-widget-title-2,
.footer-widget-title-3 {
	color: #634661;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px;
}

.product-categories a {
	color: #252525;
}

.product-categories a:hover {
	color: #f29544;
	font-size: 1.25rem;

}

#menu-footer-menu li {
	font-size: 1.25rem;
	color: #252525;
	text-transform: capitalize;
}

a:hover,
a:focus,
a:active {
	color: #f29544;
}



/*********************/



/* 05 - MEDIA QUERIES */

@media only screen and (max-width: 800px) {
	#forminator-module-68 {
		width: 100%;
		margin: 0 auto;
	}

	.custom-logo {
		width: 320px;
		height: auto;
	}



	#site-navigation a {
		text-align: center;
		font-size: 1.35em;
	}


	/* centers image widget(logo) on smaller screens when in column versus row */
	.wp-image-26 {
		margin: 0 auto;
	}
}

@media only screen and (max-width: 600px) {
	.tabs {
		flex-direction: column;
	}

	.tabs .wc-tabs {
		border-radius: 0.55em;
		background: lightgray;
		width: 30vw;

	}

	ul.products li.product img {
		margin: 10px auto;
	}

	
	
}

@media only screen and (max-width: 400px) {
	#forminator-module-68 {
		width: 100%;
		margin: 0 auto;
	}

	.site-branding img {
		width: 200px;
		height: auto;

	}

	#site-navigation a {
		text-align: center;
		font-size: 1.35em;
	}

	/* centers image widget(logo) on smaller screens when in column versus row */
	.wp-image-26 {
		margin: 0 auto;
	}
}





/*******************/


/* 06. WOOCOMMERCE CUSTOM STYLING */


.wc-block-grid__products {
	justify-content: center;
}

h1 {
	text-align: center;
}


.woocommerce-breadcrumb {
	font-size: 1.15rem;
	text-align: left;
	padding: 30px;
}

.product_title {
	color: #594059;
	font-weight: bolder;
	font-family: cursive;
	text-align: left;
}

.description_tab {
	font-weight: bold;
	padding: 10px;

}

.active {
	color: #f29544;

}

.reviews_tab {
	padding: 10px;
	font-weight: bold;

}

.onsale {
	background: #f29544;
	padding: 20px;
	border-radius: 50%;
	color: #fff;
	z-index: 10;

}

ul.products li.product .button {
	background: #252525;
	width: 50%;
	padding: 10px;
	text-align: center;
	border-radius: 1em;


}

ul.products li.product .button:hover {
	color: #f2f2f2;


}

.product-category {
	margin: 0 auto;
	padding: 30px;
}

.tabs {
	display: flex;
	justify-content: center;

}


.tabs a {
	padding: 10px;
}




.woocommerce-tabs .wc-tabs {
	border-radius: 0.55em;
	background: lightgray;
	width: 70vw;
}




.woocommerce-product-details__short-description {

	margin-top: 10px;
	margin-bottom: 10px;
}

.single-product div.product form.cart .quantity {
	float: none;
	margin: 0;
	display: inline-block;

}

.minus {
	background: #252525;
	padding: 10px;
	color: #f2f2f2;
}

.plus {
	background: #252525;
	padding: 10px;
	color: #f2f2f2;
}

.single_add_to_cart_button {
	background: #252525;
	padding: 10px;
	color: #f29544;
}

.add_to_cart_button {
	color: #f29544;



}

.woocommerce-products-header__title {
	padding: 20px;
}

.product_meta {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.product_meta .posted_in a {
	color: #F29544;

}

.product_meta .tagged_as a {
	color: #f29544;
}

.single-product div.product {
	width: 70%;
	margin: 0 auto;
}




.tabs .wc-tabs {
	display: flex;
}

.woocommerce-MyAccount-navigation {
	background: #FEF3C7;
	color: #0d0d0d;
	text-align: center;
	border-radius: 10px;
}


.woocommerce-MyAccount-navigation ul li {
	margin: 1rem 0;
	padding: 0.8rem 0.5rem;
	border-radius: 10px;
	list-style-type: none;
}

.woocommerce-MyAccount-navigation ul li {
	margin: 1rem 0;
	padding: 0.8rem 0.5rem;
	border-radius: 2px;
	list-style-type: none;
}

.woocommerce-MyAccount-navigation ul li.is-active {
	background: #594059;
	color: #f2f2f2;
}

.woocommerce-MyAccount-content {
	border: 1px solid #252525;
	padding: 30px;

}

#place_order {
	background-color: #252525;
	color: #f29544;
	padding: 10px;
	border-radius: 2px;
}

.woocommerce-Button {
	background-color: #252525;
	color: #f29544;
	padding: 10px;
	border-radius: 2px;
}

.woocommerce-form-login__submit {
	background-color: #252525;
	color: #f29544;
	padding: 10px;
	border-radius: 2px;
}

.woocommerce-Price-amount {
	color:#f29544;
	font-weight: bolder;
}

.wc-block-grid__product-image img {
	border-radius: 1em !important;
}



.submit {
	background-color: #252525 !important;
	color: #f29544 !important;
	padding: 10px;
	border-radius: 2px;
	width: 100%;
}
.submit:hover {
	color: #f2f2f2 !important;
}

.entry-summary {
	display: grid;
	padding: 10px;
}

.woocommerce-form-row {
	padding: 10px;
	margin: 0 auto;
}

.post-84 h2 {
	padding: 10px;
}

.woocommerce-orders-table__cell {
	border-bottom: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.woocommerce-info {
	padding: 10px;
	background: #f29544 !important;
	color: #f2f2f2;
}


input[type="text"] {
	border-radius: 2px !important;
	background-color: #f2f2f2 !important;
	border-bottom: 1px solid black !important;
}

input[type="tel"] {
	border-radius: 2px !important;
	background-color: #f2f2f2 !important;
	border-bottom: 1px solid black !important;
}

input[type="email"] {
	border-radius: 2px !important;
	background-color: #f2f2f2 !important;
	border-bottom: 1px solid black !important;
}

input[type="password"] {
	border-radius: 2px !important;
	background-color: #f2f2f2 !important;
	border-bottom: 1px solid black !important;
}

.actions .coupon {
	margin-top: 2rem;
}

.coupon button {
	background-color: #252525;
	color: #f29544;
	padding: 10px;
	border-radius: 2px;
}

.coupon label {
	font-weight: bolder;
}

.button {
	background-color: #252525;
	color: #f29544;
	padding: 10px;
	border-radius: 2px;
}

.woocommerce-error {
	background: #E35A6E !important;
	color: #fff;
	padding: 20px;
	list-style-type: none;
	margin: 10px;
}
.woocommerce-error li {
	list-style-type: none !important;
}

.orderby {
	background: #252525;
	color: #f29544;
	padding: 10px;
}

.woocommerce-message {
	background: #98FB98;
	color: #fff;
	padding: 20px;
	list-style-type: none;
	margin: 10px;
	border-radius: 2px;
}

ul.products li.product img {
	border-radius: 1em;
	box-shadow: 1px 1px 1px #594059;
}